[role="component:CommentList"]
  place holder

  .comment-wrapper
    padding 0 15px

    .item-content
      padding 10px 0

      .user-content
        margin 0 0 10px 0

        .icon-user
          margin 0 5px 0 0

      .comment-content
        margin 10px 0 0 0


