@import '../../common/stylus/vars.styl';

[role="component:Category"]
  padding 22px 0 0 0
  background #fff

  .dot-wrapper
    text-align center

    .dot-item
      display inline-block
      width 8px
      height 8px
      border-radius 4px
      margin 0 10px 17px 0
      background-color lightGrey

      &.dot-selected
        background-color primaryRed

  .pane-wrapper

    .pane-item
      display inline-block
      width 20%
      text-align center

      >span
        display block

      .pane-icon
        width 46px
        height 46px
        margin 0 auto 6px
        background-color lightGrey
        border-radius 23px
        background-size 46px 46px
        background-repeat no-repeat

      .pane-text
        font-size 13px
        margin 0 0 12px 0

