@import '../../common/stylus/mixin.styl';
@import '../../common/stylus/vars.styl';

[role="component:CurrentCity"]
  background-color #fff
  text-align center
  padding 30px 0
  borderBottom1px(lightGrey, solid)
