@import '../../common/stylus/vars.styl';

[role="component:SearchHeader"]
  display flex
  align-items center
  height headerHeight
  background-color primaryRed
  color #fff

  >i
    display block
    padding 18px 23px
    cursor pointer

  .header-search
    flex 1
    display flex
    align-items center
    background-color #fff
    border-radius 13px
    height 30px
    margin 0 25px 0 0
    color lightGrey

    .icon-search
      margin 8px
      font-size 18px
