@import '../../common/stylus/vars.styl';

[role="component:HomeHeader"]
  display flex
  align-items center
  height headerHeight
  background-color primaryRed
  color #fff

  .header-left
    flex 0 0 87px

    >a
      color #fff
      display flex
      align-items center

      >span
        margin 0 9px 0 21px

      >i
        font-size 18px
        transform translateY(-2px)

  .header-center
    flex 1
    display flex
    align-items center
    background-color #fff
    border-radius 13px
    height 30px
    color lightGrey

    .icon-search
      margin 8px
      font-size 18px

  .header-right
    flex 0 0 53px
    text-align center

    .icon-user
      font-size 18px
      cursor pointer
      color #fff
