[role="component:HomeHeader"]
  display flex
  align-items center
  height 50px
  background-color #f3394e
  color #fff

  .header-left
    flex 0 0 87px
    display flex
    align-items center

    >span
      margin 0 9px 0 21px

    >i
      font-size 18px

  .header-center
    flex 1
    display flex
    align-items center
    background-color #fff
    border-radius 13px
    height 30px
    color #eee

    .icon-search
      margin 8px
      font-size 18px

  .header-right
    flex 0 0 53px
    text-align center

    .icon-user
      font-size 18px
